.footer{
    width: 96%;
    display: flex;
   align-items: center;
    float: left;
    background: none;
    border: 1px solid #444444;
   
    margin: 2%;
}
.about,

.news-letter{
    width: 32%;
    border: 1px solid #444444;
    padding: 40px;
    height: 320px;
}

.footer h3{
    font-size: 25px;
    font-weight: 400;
}
.about a{
    color: white;
    text-decoration: none;
}
.about h3,p{
    margin-bottom: 20px;
}
.about p{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
}

.news-letter h3{
    text-align: center;
}
.login-form{
width: 300px;
margin: 5%;
}
.login-form input{
    color: #444444;
    background: none;
    border: 1px solid #444444;
    padding: 15px;
}
.navigation{
    text-align: right;
}


.navigation ol{
    
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 5%;
   
}
.big-links li a{
    color:hsla(0, 0%, 100%, 0.6);
    font-size: 17px;
    text-decoration: none;
}
.small-links li a{
 color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    text-decoration: none;
}
.navigation h3{
    margin-bottom: 30px;
}
.navigation{
    width: 32%;
    border: 1px solid #444444;
    padding: 40px;
    height: 320px;
}
.pow{
   /* align-items: baseline; */
   position: relative;
   border:1px solid #444444;
   padding: 20px;
   top: 60%;
   margin: -12%;
}