
.sidebar-btn {
  margin: 5%;
}

.sidebar-btn button {
  position: relative;
  overflow: hidden;
  width: 150px;
  margin: 5px;
  padding: 20px; 
  font-weight: 520;
  border-radius: 5px;
  font-size: 17px;
  background: transparent;
  border: 1px solid #ffffffb0;
  color: #fff;
  cursor: pointer; 
  z-index: 1;
  text-shadow: 2px 2px 4px #000;
}

.sidebar-btn button::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  filter: brightness(0);
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.sidebar-btn .travel:hover::before {
  background-image: url(./src/images/travel.jpg);
  animation: revealBg .5s forwards ease-out;
}

.sidebar-btn .tech:hover::before {
  background-image: url(./src/images/tech.jpg);
  animation: revealBg.5s forwards ease-out;
}

.sidebar-btn .style:hover::before {
  background-image: url(./src/images/sttyle.jpg);
  animation: revealBg .5s forwards ease-out;
}

.sidebar-btn .food:hover::before {
  background-image: url(./src/images/food.jpg);
  animation: revealBg .5s forwards ease-out;
}

.sidebar-btn .car:hover::before {
  background-image: url(./src/images/car.jpg);
  animation: revealBg .5s forwards ease-out;
}

@keyframes revealBg {
  0% {
    opacity: 0;
    filter: brightness(0.3);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}


.section-title {
    margin-right: 5%;
      display: flex;
      align-items: center;
      text-align: center;
      margin: 40px 0;
      color: white;
      font-family: Arial, sans-serif;
    }

    .section-title::before,
    .section-title::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #aaa;
      margin: 0 15px;
    }
    .sidebar-tags{
        margin-right: 5%;
    }
    .sidebar-tags ol{
        list-style: none;
        /* display: flex; */
        /* justify-content: space-between; */
        

    }
    .sidebar-tags li{
        display: flex;
        justify-content: space-between;
    }
    .sidebar-tags li a{
        color: #fff;
        

    }
    .login{
         margin-right: 5%;
    }
   .login-form {
    display: flex;
    width: 26%;
    flex-direction: column;
   }
   .login-form label{
    font-size: 11px;
    letter-spacing: 1px;
    width: 90%;
   }
   .login-form input{
    margin-bottom: 5%;
    width: 90%;
    padding: 4%;
   }
   .login-form button{
    margin-top: 2%;
    padding: 4.5%;
    color: #fff;
    background-color:#f24137 ;
    width: 100%;
    border: none;
   }
   .touch{
    margin-right: 5%;
   }
   .touch ol{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 25px;
    color: #fff;
   }
   .touch li a{
    color:#fff;
   }
   .icon-circle {
  border: 2px solid #070707; 
  border-radius: 50%;        
  padding: 10px;             
  display: inline-flex;    
  align-items: center;
  justify-content: center;
  color: #ffffff; 
  background-color: #070707;           
  font-size: 20px;           
}
.icon-circle:hover{
    border: 2px solid #ffffff;
    color: #070707; 
  background-color: #ffffff;
}
.insta-photo{
  margin-right: 5%;
  
}

.insta-photo img{
    width: 100%;
  height: auto;
  display: block;
  height: 80px;
}
.section-img{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 10px;
  /* width: 25%;
  display: flex; */
}
.section-img li{
  /* display: flex;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: row; */
flex: 0 0 calc(33.333% - 10px);
}