body{
    background-color: #151515;
    background-image: url('./src/images/macbook.jpg');
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat; 
    height: 100vh; 
   
}